header {
  border: 1px solid goldenrod;
  
}


header ul li {
  padding-right: 50px;
  display: inline-flex;
}

.disabled {
    color: grey;
  
}
a .disabled{
  color: purple;
}

.active {
    color: green;


}

.parent div:first-child{
  color: red;
}
.parent h4:nth-child(2){
  background: red;
}


.parent div:nth-child(3){
  color:blue;
}

.parent h4:nth-child(4){
   background: blue;
   
 }
 .grandparent > h4 { 
  border: 1px solid; 
  border-radius: 5px;
  
 }

 
.promo {
    color: gold;
    font-weight: bold;
    

}

input[type= "text"] {
  height: 25px;
}











